@import './components.css';
@import './layout.css';
@import './homepage.css';
@import './admin.css';

/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: #fff;
    color: #0f172a;
}

/* VARIABLES */
:root {
    --green-900:#063d2a;
    --green-700:#0f6e4d;
    --green-300:#7ddbb2;

    --slate-900:#0f172a;
    --slate-500:#64748b;
    --slate-100:#f1f5f9;
}